<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppies</title>
  </head>
<h1>Click Here To List A Puppy</h1>
<form method="POST" action="/greet">
  <p> Puppy Name: <input type="text" name="name" id="name" /> </p>
  <p> Puppy Age: <input type="text" age="age" id="age" /> </p>
  <p> Puppy Breed: <input type="text" breed="breed" id="breed" /> </p>

  <input type="submit" value="Submit" />
</form>

