<form method="POST" action="/puppy">
  <p> Puppy Name: <input type="text" name="name" id="name" /> </p>
  <p> Puppy Age: <input type="text" age="age" id="age" /> </p>
  <p> Puppy Breed: <input type="text" breed="breed" id="breed" /> </p>

  <input type="submit" value="Submit" />
</form>
