<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppies</title>
  </head>

<h1>Click Here To List A Puppy</h1>
<form action="/greet" method="POST">
  <p>
    <input type="text" name="name" id="name" />
  </p>

  <input type="submit" value="Submit" />
</form>
