<h1>Welcome</h1>
<h2>Click Here To List A Puppy</h2>
<form action="/greet" method="POST">
  <label for="user_name">Name:</label>

  <p>
    <input type="text" name="name" id="name" />
  </p>

  <input type="submit" value="Submit" />
</form>
